---
title: "Danjones's Projects"
---
<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Danjones's open source projects" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>{{ page.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/goodevilgenius">View on GitHub</a>

          <h1 id="project_title">{{ page.title }}</h1>
          <h2 id="project_tagline">My open source projects</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3>Welcome to my Projects.</h3>


		<ul class="repos">{% assign sorted_repositories = site.github.public_repositories|sort:"watchers"|reverse|group_by:"watchers" %}
		  {% for group in sorted_repositories %}<!-- {{ group.name }} -->{% assign sort_repos_by_update = group.items|sort:"updated_at"|reverse %}
		  {% for repo in sort_repos_by_update %}{% if repo.fork or repo.created_at == repo.updated_at %}{% continue %}{% endif %}
		  <li class="repo" data-repo-name="{{ repo.name|escape }}">
			<div class="repo repo-lang-{% if repo.lanague and repo.language != "" %}{{ repo.language | downcase }}{% else %}generic{% endif %}">
			  <p class="repo-title"><a class="repo-link" href="{% if repo.homepage and repo.homepage != "" %}{{ repo.homepage }}{% else %}{{ repo.html_url }}{% endif %}">{{ repo.name }}</a></p>
			  {% if repo.description and repo.description != "" %}<p class="repo-desc">{{ repo.description }}</p>{% endif %}
			  <p class="repo-pop">
				<span class="stars pop-count" data-repo-stars="{{ repo.watchers }}">{{ repo.watchers }} <span class="label">stars</span></span>
				<span class="forks pop-count" data-repo-forks="{{ repo.forks }}">{{ repo.forks }} <span class="label">forks</span></span>
			  </p>
			  <p class="repo-updated"><time datetime="{{ repo.updated_at|date_to_xmlschema|escape }}">Updated {{ repo.updated_at|date: "%b %d %Y, %H:%M %Z" }}</time></p>
			</div>
		  </li>
		  {% endfor %}{% endfor %}
		</ul>


      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
		<!--
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
		-->
      </footer>
    </div>


  </body>
</html>
